apiVersion: batch/v1
kind: Job
metadata:
  name: init-database
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: init-db
        image: postgres:15
        command:
        - /bin/bash
        - -c
        - |
          PGPASSWORD=password psql -h postgresql -U jhipsterSampleApplication -d postgres <<EOF
          SELECT 'CREATE DATABASE jhipsterSampleApplication'
          WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'jhipsterSampleApplication')\gexec
          GRANT ALL PRIVILEGES ON DATABASE jhipsterSampleApplication TO jhipsterSampleApplication;
          EOF
      initContainers:
      - name: wait-for-postgresql
        image: busybox:1.35
        command: ['sh', '-c', 'until nc -z postgresql 5432; do sleep 2; done']
